     /* ===== Fontes ===== */
     @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');



     /* ===== Paleta ===== */
     :root {
         --white: #ffffff;
         --green-dark: #1B4227;
         --green-dark-2: #12341F;
         --beige: #FFF1D4;
         --green-light: #B9CE5D;
         --beige-2: #FFF1D4;
     }

     /* ===== Base ===== */
     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }

     /* O resto do seu CSS está perfeito */
     body {
         position: relative;
     }

     html {
         scroll-behavior: smooth;
         height: 100%;
         width: 100%;
     }



     /* 2. PARA NOTEBOOKS MÉDIOS (Ex: 1440px, 1600px) */
@media (max-width: 1680px) {
    body{
        zoom: 0.78;
    }
}

/* 3. PARA LAPTOPS PEQUENOS (Ex: 1366px - Padrão corporativo comum) */
@media (max-width: 1366px) {
    html {
        font-size: 16px; /* Reduz tudo em 25% em relação ao original */
    }
}



     section[id] {
         scroll-margin-top: 80px;
     }