
body{
    position: absolute;
}

.container-topo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center ;
    align-items: center;
    height: 10%;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.container-topo .logo{
    margin-top: 12px;
    padding-left: 5px;  
    flex: 1%;
}

.logo_img{
    max-width: min(220px, 90vw);
    max-height: min(186px, 90vw);
}

.container-topo .botao{
    background: var(--green-light);
    text-align: center;
    flex: -1%;
    margin-right: 85px;
    height: auto;
    padding: 10px 50px;
    border-radius: 999px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   
}

.btn-entrarRse{
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    text-decoration: none;
    font-size: 22px;

}