
.container-topoHud {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center; 
    height: auto;
    padding: 15px 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.logo_imgHud {
    margin-top: 21px;
   width: 135px;
    height: auto;
}



.texto-hud h1 {
    color: aliceblue;
    font-family: 'Poppins';
    font-size: 45px;
    margin: 0; 
}

.botaoHud {
    background: var(--green-light);
    text-align: center;
    padding: 12px 30px; 
    max-width: 210px;
    border-radius: 999px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.4s; 
}

.botaoHud:hover {
   transform: scale(1.1); 
}

@media(max-width: 1024px) {
    .container-topoHud {
        padding: 15px 30px; 
    }

    .texto-hud h1 {
        font-size: 32px; 
    }

    .logo_imgHud {
        width: 120px;
        height: auto; 
    }
}


@media(max-width: 768px) {
    .container-topoHud {
        flex-direction: column; 
        justify-content: center;
        padding: 25px 20px; 
        gap: 25px;
    }

    .texto-hud {
        order: -1; 
    }
    
    .texto-hud h1 {
        font-size: 28px;
        text-align: center; 
    }

    .logoHud {
        order: -2; 
    }

    .logo_imgHud{
        width: 110px;
    }

    .botaoHud {
        width: 100%; 
        max-width: 300px; 
        font-size: 20px;
    }

    .botaoHud:hover {
        transform: scale(1.05); 
    }
}