
.paginacao-container {
    position: sticky;
    display: flex;
    justify-content: center;
    gap: 12px; 
    width: 100%;
}


.paginacao-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.paginacao-btn.number {
    background-color: var(--green-dark-2); 
    color: var(--white);
    border: 1px solid var(--beige); 
}


.paginacao-btn.number:hover:not(:disabled) {
    background-color: var(--green-light);
    color: var(--green-dark);
    border-color: var(--green-light);
}


.paginacao-btn.number.active {
    background-color: var(--beige);
    color: var(--green-dark);
    border-color: var(--beige);
    font-weight: 700; 
}

.paginacao-btn.arrow {
    background-color: var(--beige);
    color: var(--green-dark);
    font-size: 1.2rem; 
    border: none;
}


.paginacao-btn.arrow:hover:not(:disabled) {
    background-color: var(--green-light);
    color: var(--green-dark);
}


.paginacao-btn.arrow:disabled {
    background-color: var(--green-dark-2);
    color: var(--white);
    opacity: 0.5;
    cursor: not-allowed;
    border: 1px solid var(--beige); 
}