

.page-usuario-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: var(--green-dark); 
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    align-items: center; 
}

.perfil-usuario-container {
    width: 100%;
    max-width: 1280px; 
    padding: 2rem 4rem;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; 
    gap: 6rem; 
    margin-top: 5vh; 
}

.perfil-left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    flex-shrink: 0; 
    width: 300px;
}

.foto-wrapper {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.foto-perfil-usuario {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: transparent; 
}

.botoes-foto-wrapper {
    position: absolute;
    top: 105%; 
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    gap: 10px; 
    width: 300px; 
    z-index: 10;
}


.btn-editar-foto {
    position: relative; 
    background-color: var(--green-light);
    color: var(--green-dark-2);
    padding: 0.5rem 0; 
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: rgba(121, 120, 120, 0.15) 0px 5px 15px 0px;
    text-align: center;
    width: 100px; 
    transition: transform 0.2s;
}

.btn-editar-foto:hover {
    transform: scale(1.05);
}


.btn-remover-foto {
    background-color: #ffffff; 
    color: #d32f2f; 
    border: #ffffff;
     padding: 0.5rem 0; 
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 100px; 
    text-align: center;
    transition: all 0.2s ease;
}

.btn-remover-foto:hover {
    transform: scale(1.07);
    background-color: #d32f2f;
    color: #fff;
    border-color: #d32f2f;
}


.saudacao-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.5rem;
}

.titulo-ola {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white);
    line-height: 1;
    margin: 0;
}

.nome-destaque {
    font-size: 2.4rem;
    font-weight: 800;
    color: var(--green-light);
    line-height: 1.1;
    margin: 0;
    text-transform: capitalize;
}


.perfil-right-col {
  flex: 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.card-dados-usuario {
    background-color: var(--beige);
    border-radius: 20px;
    padding: 2.2rem 3rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 50px; 
}

.card-titulo {
    font-size: 1.5rem;
    font-weight: 700; 
    color: #000;
    margin-bottom: 2rem;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 4rem; 
    row-gap: 1.5rem;  
    width: 100%;
}


.grid-item {
    display: flex;
    flex-direction: column;
    min-width: 0; 
}


.input-group {
    display: flex;
    flex-direction: row; 
    align-items: baseline; 
    gap: 0.5rem;
    width: 100%;
    position: relative;
    overflow: hidden; 
}

.input-group label {
    font-size: 1.12rem;
    font-weight: 600; 
    color: #000;
    white-space: nowrap; 
    flex-shrink: 0; 
}

.data-text,
.input-editable {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    flex-grow: 1; 
    display: block;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    white-space: nowrap;       
    overflow-x: auto;          
    overflow-y: hidden;
    max-width: 100%; 
}

.input-editable {
    background-color: rgba(255,255,255,0.4);
    border-radius: 4px 4px 0 0;
    outline: none;
}

.data-text::-webkit-scrollbar,
.input-editable::-webkit-scrollbar {
    height: 6px; 
}

.data-text::-webkit-scrollbar-track,
.input-editable::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
}

.data-text::-webkit-scrollbar-thumb,
.input-editable::-webkit-scrollbar-thumb {
    background-color: var(--green-light); 
    border-radius: 10px;
}


.card-actions {
    margin-top: auto; 
    padding-top: 2rem;
    display: flex;
    justify-content: flex-end; 
    gap: 1rem;
}

.btn-editar-perfil {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.btn-atualizar {
    background-color: var(--green-light); 
    color: var(--green-dark-2); 
    font-weight: 700;
    padding: 0.6rem 2rem;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: lowercase; 
}

.btn-cancelar {
    background-color: transparent;
    color: #d32f2f;
    border: 1px solid #d32f2f;
    border-radius: 50px;
    padding: 0.6rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
}


.card-senha {
    background-color: var(--beige); 
    border-radius: 15px;
    padding: 1.2rem 2rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    width: 100%; 
}

.card-senha:hover {
    transform: translateY(-2px);
}

.card-senha span {
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
}

.icon-link {
    width: 28px;
    height: 28px;
    filter: brightness(0); 
}


.campo-erro {
    width: 100%;             
    color: #d32f2f;          
    font-size: 0.85rem;      
    font-weight: 600;
    margin-top: 4px;         
    margin-left: 0;          
    padding-left: 5px;       
    animation: fadeIn 0.3s ease-in-out;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}


.input-editable.input-error {
    border-bottom: 2px solid #d32f2f !important;
    background-color: rgba(211, 47, 47, 0.05);
}


@media (max-width: 761px) {
    .perfil-usuario-container {
        flex-direction: column;
        padding: 2rem;
        gap: 79px;
    }

    .perfil-left-col {
        width: 100%;
    }

    .saudacao-container {
        align-items: center; 
    }
    
    .perfil-right-col {
        width: 100%;
    }
}

@media (max-width: 760px) {
    .form-grid {
        grid-template-columns: 1fr; 
        gap: 1.4rem;
    }
    

    .perfil-usuario-container{
        align-items: center;
        gap: 79px;
    }
    .card-dados-usuario {
        padding: 1.5rem;
    }
    
    .foto-wrapper {
        width: 200px;
        height: 200px;
    }

    .saudacao-container {
        align-items: center; 
    }
}